.form{
    margin-top: 50px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;

}
.help-block{
    font-size:11px;
    color: #3f51b5

}
.err-success{
    font-size:14px;
    color: red;
    font-weight: bold;
    letter-spacing: .8px;

}
.svg-img{
    margin-top: 50px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    
}
.svg-img img{
    margin-top: 50px ;
    
}

.form-control{
    border-radius: 0px;
    color: black;
    font-size: 11px;
}

label{
    font-size: 13px;
    color: grey;
}
.registered{
    font-size: 13px;
    color: grey;
    padding-top:30px;
}
.btn-primary{
    font-size: 14px;
    border-radius: 50px;
    color: white;
    background-color: #3f51b5;
    width: 100%;
}
.form-control:invalid {
    border: 1px solid #3f51b5;
  }
.form-header{
    font-weight: bold;
    font-size: 35px;
    color: #3f51b5;
    padding: 30px;
    margin-bottom: 20px;
}



/* Media Queries for responsiveness */

@media only screen and (min-device-width : 250px) and (max-device-width : 800px) {
    /* Styles */
    .form{
        margin-top: 20px;
        padding-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
    
    }
    
    .svg-img{
        margin-top: 30px;
        padding-top: 50px;
        width: 100%;
        height: 100%;
        
    }
    .svg-img img{
        margin-top: 20px ;
        
    }
}
    